.container {
  position: relative;
  margin-top: 8px;
}

.playButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20;
  height: 20;
}

.boundingBox {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid red;
  z-index: 999;
}

.buttons {
  position: absolute;
  top: 24px;
  right: 24px;
}

.buttons * {
  margin-bottom: 8px;
}

.toggleVideoButton {
  position: absolute;
  top: 0;
  left: 0;
}
